body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.scene {
  perspective: 1000px;
}

.sphere {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transition: transform 0.1s;
  cursor: grab;
}

.layer {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.8;  /* Un peu de transparence pour les particules */
}
#buttons {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
